---
title: <%= index.title %>
primaryID: "index"
activeLink: 0
gaCategoryPrefix: HomePage
gaPrefix: ""
---
<main>

  <div class="jumbotron">
      	<h1>Test</h1> 
      	<p>Test</p> 
  </div>

  <section class="the-carousel">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {{#each index.carousel}}
          <div class="item {{#if @first}}active{{/if}}">
            <img src="{{image}}" alt="...">
            <div class="carousel-caption">
              <h2>{{caption}}</h2>
            </div>
          </div>
            {{/each}}
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

  </section>

</main>