<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} | {{sitewide.titleSuffix}}</title>
    {{> head-meta }}
    {{> head-css }}
    {{> head-scripts }}
</head>
<body id="{{primaryID}}">
{{> body-open-scripts }}
{{> navbar }}
{{> body }}
{{> footer }}
{{> body-close-scripts }}
</body>
</html>
